#root {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
}

/* Custom styling for Checkbox (Overwrite Bootstrap default) */
.form-check-input {
  width: 1.5em !important;
  height: 1.5em !important;
}

.form-check-input[type="checkbox"] {
  border-radius: 2em !important;
}

.form-check-input:checked {
  background-color: #a5d6a7 !important;
  border-color: #a5d6a7 !important;
}
